################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/wordCount/v15
/src/Debug
/src/wordCount/Debug
/src/wordCount/x64/Debug
/src/x64/Debug
/src_group2/.vs/wordCount/v15
/src_group2/Debug
/src_group2/wordCount/Debug
/src_group2/wordCount/x64/Debug
/src_group2/x64/Debug
